#include <os2.h>
#include "ids.h"

POINTER ID_UCALC    "graphics\\calc.ico"
DEFAULTICON         "graphics\\calc.ico"

ICON 10             "graphics\\off.ico"

#ifndef NO_BUTTON_ICONS
ICON 11             "graphics\\pi.ico"
ICON 12             "graphics\\square.ico"
ICON 13             "graphics\\expn.ico"
ICON 14             "graphics\\sqroot.ico"
ICON 15             "graphics\\nroot.ico"
ICON 16             "graphics\\fact.ico"
ICON 17             "graphics\\rcp.ico"
ICON 18             "graphics\\log.ico"
ICON 19             "graphics\\ln.ico"
ICON 20             "graphics\\ex.ico"

ICON 31             "graphics\\pi_l.ico"
ICON 32             "graphics\\square_l.ico"
ICON 33             "graphics\\expn_l.ico"
ICON 34             "graphics\\sqroot_l.ico"
ICON 35             "graphics\\nroot_l.ico"
ICON 36             "graphics\\fact_l.ico"
ICON 37             "graphics\\rcp_l.ico"
ICON 38             "graphics\\log_l.ico"
ICON 39             "graphics\\ln_l.ico"
ICON 40             "graphics\\ex_l.ico"
#endif


MENU ID_UCALC
BEGIN
    SUBMENU "~File",                                IDM_FILE,           MIS_TEXT
    BEGIN
        MENUITEM "E~xit\tF3",                       ID_EXIT,            MIS_TEXT
    END
    SUBMENU "~Edit",                                IDM_EDIT,           MIS_TEXT
    BEGIN
        MENUITEM "~Copy\tCtrl+Ins",                 ID_COPY,            MIS_TEXT
        MENUITEM "~Paste\tShift+Ins",               ID_PASTE,           MIS_TEXT
    END
    SUBMENU "~View",                                IDM_VIEW,           MIS_TEXT
    BEGIN
/*
        MENUITEM "~Basic",                          ID_VIEW_BASIC,      MIS_TEXT
        MENUITEM "~Algebraic",                      ID_VIEW_SCI,        MIS_TEXT
        MENUITEM "~Programming",                    ID_VIEW_ALL,        MIS_TEXT, MIA_CHECKED
        MENUITEM SEPARATOR
        MENUITEM "~Hexadecimal notation",           ID_VIEW_HEX,        MIS_TEXT, MIA_CHECKED
        MENUITEM SEPARATOR
*/
        SUBMENU "~Appearance",                      IDM_LOOK,           MIS_TEXT
        BEGIN
            MENUITEM "~Small text",                 ID_SMALL,           MIS_TEXT, MIA_CHECKED
            MENUITEM "~Large text",                 ID_LARGE,           MIS_TEXT
            MENUITEM SEPARATOR
            MENUITEM "~Colour",                     ID_CLRLIGHT,        MIS_TEXT, MIA_CHECKED
            MENUITEM "~Monochrome",                 ID_CLRMONO,         MIS_TEXT
        END
        MENUITEM SEPARATOR
        MENUITEM "Always on ~top\tCtrl+T",          ID_VIEWONTOP,       MIS_TEXT
    END
    SUBMENU "~Help",                                IDM_HELP,           MIS_TEXT
    BEGIN
        MENUITEM "Product ~information",            ID_ABOUT,           MIS_TEXT
    END
END

ACCELTABLE ID_UCALC
BEGIN
    VK_F3,        ID_EXIT,      VIRTUALKEY
    "0",          IDD_ZERO,     CHAR
    "1",          IDD_ONE,      CHAR
    "2",          IDD_TWO,      CHAR
    "3",          IDD_THREE,    CHAR
    "4",          IDD_FOUR,     CHAR
    "5",          IDD_FIVE,     CHAR
    "6",          IDD_SIX,      CHAR
    "7",          IDD_SEVEN,    CHAR
    "8",          IDD_EIGHT,    CHAR
    "9",          IDD_NINE,     CHAR
    ".",          IDD_DECIMAL,  CHAR
    "+",          IDD_PLUS,     CHAR
    "-",          IDD_MINUS,    CHAR
    "*",          IDD_MULTIPLY, CHAR
    "/",          IDD_DIVIDE,   CHAR
    VK_ENTER,     IDD_EQUALS,   VIRTUALKEY
/*
    VK_INSERT,    IDD_ZERO,     VIRTUALKEY
    VK_END,       IDD_ONE,      VIRTUALKEY
    VK_DOWN,      IDD_TWO,      VIRTUALKEY
    VK_PAGEDOWN,  IDD_THREE,    VIRTUALKEY
    VK_LEFT,      IDD_FOUR,     VIRTUALKEY
    VK_RIGHT,     IDD_SIX,      VIRTUALKEY
    VK_HOME,      IDD_SEVEN,    VIRTUALKEY
    VK_UP,        IDD_EIGHT,    VIRTUALKEY
    VK_PAGEUP,    IDD_NINE,     VIRTUALKEY
*/
    VK_NEWLINE,   IDD_EQUALS,   VIRTUALKEY
    VK_BACKSPACE, IDD_BACK,     VIRTUALKEY
    VK_BACKSPACE, IDD_CE,       VIRTUALKEY, CONTROL
    VK_DELETE,    IDD_CLEAR,    VIRTUALKEY, CONTROL
    VK_INSERT,    ID_COPY,      VIRTUALKEY, CONTROL
    VK_INSERT,    ID_PASTE,     VIRTUALKEY, SHIFT
    "t",          ID_VIEWONTOP, CHAR,       CONTROL
    "T",          ID_VIEWONTOP, CHAR,       CONTROL
END



/********************
 * ENGLISH MESSAGES
 */

STRINGTABLE 850
BEGIN
    (ID_BASE_EN + IDS_PROGRAM_TITLE)        "Calculator"
    (ID_BASE_EN + IDS_PROGRAM_DESCRIPTION)  "Useful Calculator for OS/2"
    (ID_BASE_EN + IDS_PRODUCT_INFORMATION)  "Product Information"
    (ID_BASE_EN + IDS_VERSION)              "version %s"
//    (ID_BASE_EN + IDS_UNDEFINED_OPERATION)  "Undefined operation"
END

STRINGTABLE 850
BEGIN
    (ID_BASE_EN + IDS_MENU_FILE)            "~File"
    (ID_BASE_EN + IDS_MENU_FILE_EXIT)       "E~xit"
    (ID_BASE_EN + IDS_MENU_EDIT)            "~Edit"
    (ID_BASE_EN + IDS_MENU_EDIT_COPY)       "~Copy"
    (ID_BASE_EN + IDS_MENU_EDIT_PASTE)      "~Paste"
    (ID_BASE_EN + IDS_MENU_VIEW)            "~View"
    (ID_BASE_EN + IDS_MENU_VIEW_APPEARANCE) "~Appearance"
    (ID_BASE_EN + IDS_MENU_VIEW_SMALL)      "~Small text"
    (ID_BASE_EN + IDS_MENU_VIEW_LARGE)      "~Large text"
    (ID_BASE_EN + IDS_MENU_VIEW_COLOUR)     "~Colour"
    (ID_BASE_EN + IDS_MENU_VIEW_MONOCHROME) "~Monochrome"
    (ID_BASE_EN + IDS_MENU_VIEW_ONTOP)      "Always on ~top"
    (ID_BASE_EN + IDS_MENU_HELP)            "~Help"
    (ID_BASE_EN + IDS_MENU_HELP_ABOUT)      "Product ~information"
END


/********************
 * JAPANESE MESSAGES
 */

STRINGTABLE 932
BEGIN
    (ID_BASE_JA + IDS_PROGRAM_TITLE)        "電卓"
    (ID_BASE_JA + IDS_PROGRAM_DESCRIPTION)  "Useful Calculator for OS/2"
    (ID_BASE_JA + IDS_PRODUCT_INFORMATION)  "製品情報"
    (ID_BASE_JA + IDS_VERSION)              "ﾊﾞｰｼﾞｮﾝ %s"
//    (ID_BASE_JA + IDS_UNDEFINED_OPERATION)  "不明な操作"
END

STRINGTABLE 932
BEGIN
    (ID_BASE_JA + IDS_MENU_FILE)            "ファイル (~F)"
    (ID_BASE_JA + IDS_MENU_FILE_EXIT)       "終了(~X)"
    (ID_BASE_JA + IDS_MENU_EDIT)            "編集 (~E)"
    (ID_BASE_JA + IDS_MENU_EDIT_COPY)       "コピー (~C)"
    (ID_BASE_JA + IDS_MENU_EDIT_PASTE)      "貼付け (~P)"
    (ID_BASE_JA + IDS_MENU_VIEW)            "表示 (~V)"
    (ID_BASE_JA + IDS_MENU_VIEW_APPEARANCE) "外観 (~A)"
    (ID_BASE_JA + IDS_MENU_VIEW_SMALL)      "小テキスト (~S)"
    (ID_BASE_JA + IDS_MENU_VIEW_LARGE)      "大テキスト (~L)"
    (ID_BASE_JA + IDS_MENU_VIEW_COLOUR)     "カラー (~C)"
    (ID_BASE_JA + IDS_MENU_VIEW_MONOCHROME) "モノクロ (~M)"
    (ID_BASE_JA + IDS_MENU_VIEW_ONTOP)      "常に手前に表示 (~T)"
    (ID_BASE_JA + IDS_MENU_HELP)            "ヘルプ (~H)"
    (ID_BASE_JA + IDS_MENU_HELP_ABOUT)      "製品情報 (~I)"
END


RCINCLUDE ucalc.dlg

